@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,
body {
    font-family: 'Poppins', sans-serif;
}

.sem-espaco {
    padding: 0;
    margin: 0
}


/***/

.navbar {
    margin-bottom: 0;
    transition: 0.2s;
}

.navbar-default {
    border: none;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 3;
    height: 124px;
    padding: 20px 0;
    border-radius: 0;
    position: absolute;
}

.navbar-default .navbar-nav>li>a {
    padding: 7px 29px;
    margin: 0 5px;
    letter-spacing: 0.3px;
    transition: 0.2s;
    font-style: normal;
    font-weight: 600;
    font-size: 15.1765px;
    line-height: 23px;
    border-radius: 31px;
    color: #FFFFFF;
}

.navbar-nav {
    padding: 22px 0;
    float: right;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    background: linear-gradient(180deg, #245A9E 0%, #1189CA 100%);
    color: white;
}

.navbar-default .navbar-nav li::before a:hover {
    content: "";
    width: 200px;
    height: 50px;
    background: #ebc021;
    position: absolute;
}

.navbar-brand {
    padding: 0;
}

.navbar-toggle {
    z-index: 3;
}


/***/

.princial-banner .box-slide {
    height: 100vh;
    padding: 0;
    background: black;
    display: grid !important;
    align-items: center;
}

.princial-banner .box-slide img {
    margin: 0 auto;
    display: block;
    object-fit: cover;
    width: 80%;
}

.princial-banner .box-slide video {
    width: 890px;
    object-fit: cover;
    margin: 0 auto;
    display: grid;
    margin-top: 67px;
    align-items: center;
}


/***/

.princial-banner .slick-dots {
    position: absolute;
    top: 50%;
    width: 39px;
    left: 50%;
    margin-left: -500px;
    height: 100px;
}

.princial-banner .slick-dots li {
    margin-bottom: 20px;
}

.princial-banner .slick-dots li a {
    color: white;
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
    transition: 0.2s;
}

.princial-banner .slick-dots li:hover a,
.princial-banner .slick-dots li.slick-active a,
.princial-banner .slick-dots li.slick-active a:hover {
    color: #1285c7;
}

.princial-banner .slick-dots li:hover a::after {
    background: #1285c7;
    ;
}

.princial-banner .slick-dots li a::after {
    content: "";
    width: 35px;
    height: 1px;
    background: white;
    position: absolute;
    margin: -16px 0 0 -50px;
    transition: 0.2s;
}

.princial-banner .slick-dots li.slick-active a::after {
    background: #1188c9;
    width: 65px;
    margin: -16px 0 0 -80px;
}


/***************/

.redes-sociais-topo {
    width: 30px;
    position: absolute;
    left: 50%;
    z-index: 2;
    margin-left: 506px;
    margin-top: 137px;
}

.redes-sociais-topo span {
    width: 1px;
    height: 247px;
    background: #D9D9D9;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.redes-sociais-topo ul {
    padding: 0;
}

.redes-sociais-topo ul li {
    list-style: none;
    margin-bottom: 13px;
}

.redes-sociais-topo ul li i {
    width: 30px;
    height: 30px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
}

.redes-sociais-topo ul li i.icon-meta {
    background-image: url("../img/icon-meta.png");
}

.redes-sociais-topo ul li i.icon-linkedin {
    background-image: url("../img/icon-linkedin.png");
}


/* ---- */

.bg-sobre {
    background-image: url("../img/bg-sobre.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    padding-bottom: 216px;
}

.bg-sobre h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 26.3911px;
    line-height: 40px;
    color: #FFFFFF;
}

.bg-sobre h2 b {
    color: #1189CA;
}

.bg-sobre img {
    width: 100%;
}

.bg-sobre h2:after {
    content: "";
    background: url("../img/sobre-left.png");
    width: 541px;
    height: 447px;
    position: absolute;
    left: 50%;
    margin-left: -53%;
    margin-top: 101px;
    border-radius: 0 50px 0 0;
}

.bg-sobre-texto p {
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 16.4821px;
    line-height: 25px;
    color: #FFFFFF;
    padding-right: 143px;
}

.bg-sobre-texto p span {
    font-style: normal;
    font-weight: 700;
    font-size: 53.1064px;
    line-height: 0px;
    color: #1189CA;
    margin-top: 12px;
    position: absolute;
    margin: 24px 0 0 9px;
}

.bg-sobre-texto h5 {
    width: 104%;
    height: 260px;
    background: #FFFFFF;
    box-shadow: -9px 11px 14px rgba(0, 0, 0, 0.3);
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #1E1E1E !important;
    margin-left: -26.7%;
    border-left: 54px solid #1189CA;
    padding: 25px 50px 25px 93px;
    margin-bottom: 44px;
}

.bg-sobre-texto h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    padding-right: 162px;
}


/* ----- */

.bg-cases {
    margin-top: -115px;
}

.bg-cases h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 26.3911px;
    line-height: 40px;
    color: #FFFFFF;
    margin-bottom: 55px;
}

.bg-cases h2 b {
    color: #1189CA;
}

.box-cases {
    padding: 0;
    height: 580px;
}

.box-cases .box-cases-img {
    width: 100%;
    height: 580px;
    overflow: hidden;
    position: relative;
}

.box-cases .box-cases-img img {
    width: 100%;
    object-fit: cover;
    height: 580px;
    transition: transform 0.2s;
}

.box-cases .box-cases-img:hover img {
    transform: scale(1.2);
    cursor: pointer;
}

.box-cases h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 22.0014px;
    line-height: 33px;
    color: #FFFFFF;
    position: absolute;
    top: 50px;
    left: 40px;
    margin: 0;
}

.box-cases p {
    font-style: normal;
    font-weight: 500;
    font-size: 16.6582px;
    line-height: 25px;
    color: #FFFFFF;
    position: absolute;
    bottom: 50px;
    left: 37px;
}

.box-cases p span {
    width: 24px;
    height: 5px;
    background: #1189CA;
    float: left;
    margin: 10px 0 0 -37px;
}


/* ----- */

.bg-servicos {
    background: white;
    padding: 50px;
}

.bg-servicos h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 26.3911px;
    line-height: 40px;
    color: #1E1E1E;
    margin-bottom: 30px;
}

.bg-servicos h2 b {
    color: #1189CA;
}

.bg-servicos p {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #1E1E1E;
    padding-right: 60px;
}

.bg-servicos h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 72.961px;
    line-height: 109px;
    text-align: right;
    color: #F7F7F7;
}

.bg-servicos h3.text-left {
    text-align: left;
}

.box-servicos {
    width: 90%;
    height: 296px;
    background: #F3F3F3;
    border-radius: 20px;
    padding: 44px 34px;
    display: grid;
    align-items: center;
    margin: 0 9%;
}

.box-servicos h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    color: #1189CA;
    text-align: center;
    margin-bottom: 25px;
}

.box-servicos p {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #1E1E1E;
    padding: 0;
}

.box-servicos a {
    background-image: url("../img/icon-mais.png");
    width: 36px;
    height: 36px;
    background-color: #245A9E;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
    position: absolute;
    bottom: -14px;
    right: 2px;
}

.box-servicos i {
    width: 100%;
    height: 60px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 15px;
}

.box-servicos .icon-agendamento-digital {
    background-image: url("../img/icon-agendamento-digital.png");
}